html, body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Calibri, Arial;

}
.map {
	width: 100vw;
	height: 100vh;
}

.map.mode-create {
	cursor: crosshair;
}
.controls{
	position: absolute;
	right:0;
	top:0;
	width: 13em;
	padding:1em;
	z-index: 999;
	background: white;
	box-shadow: 0 0 10px 5px #ccc;
}
button {
	padding:0.5em;
	border:none;
	border-radius: 3px;
	margin: 0.5em 0;
	width:100%;
	cursor:pointer;
}
.on {
	background-color: #3388ff;
	color: white;

}
.box {
	display: block;
	padding:0.5em;
	color: white;
	margin-bottom:0.2em;
}
.blue {
	background-color: #3388ff;
}
.green {
	background-color: green;
}

.leaflet-vertex-icon {
	border-radius: 50%;
	cursor: move;
}
.leaflet-middle-icon {
	border-radius: 50%;
	cursor: copy;
}

.leaflet-middle-icon:before {
	 color: #999;
	 content: "+";
	 display: block;
	 position: absolute;
	 font-size: 2.1em;
	 top: -0.61em;
	 left: -0.06em;
}
.leaflet-interactive {
	cursor: inherit;
}
